*{
    margin: 0;
    padding: 0;
}

body {
  background-color: #060606;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

h2 {
  color: #00A29D;
}

/*LIMPIO*/
.header {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
}

.tablinks {
    font-size: 30px;
    color: white;
    background-color: inherit;
    border: none;
    margin: 5%;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

.tablinks:hover, .tablinks.active {
    color: #AB1A6B;
    transition: 0.3s;
}

.home {
    position: absolute;
    left: 0;
}

.text {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    position: absolute;
    color: white;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slideshow-container {
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s;
    border-radius: 0 10px 10px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 10px 0 0 10px;
  }

.prev:hover, .next:hover {
    background-color: white;
    color: black;
}

  .social {
    position: absolute;
    display: flex;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
  }

  .icon {
    width: 30px;
    border: 1px solid #AB1A6B;
    margin: 10px;
    transition: 0.5s;
  }
  .icon:hover {
    border: 1px solid #00A29D;
    transition: 0.5s;
  }
  
  .autor {
    position: absolute;
    display: flex;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    bottom: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  /*HOME*/
  .cover {
    display: flex;
    position: absolute;
    top: 35%;
    font-size: 20px;
    transform: translate(0, -15%);
    left: 15%;
    height: 50%;
    width: 70%;
    align-items: center;
  }

  .photo {
    position: relative;
    box-sizing: border-box;
    width: 20%;
    padding: 0.5%;
  }

  .logo {
    width: 50px;
    height: 50px;
    background-color: #AB1A6B;
    transition: 0.5s;
    border-radius: 2px;
  }

  .logo:hover {
    background-color: #00A29D;
  }

.cont {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 60%;
  justify-content: center;
}

.container { 
  width: 3%;
  height: 100%;
  margin-left: 40px;
  background-color: #00A29D;
}

.html {height: 10%; background-color: #060606;} 
.css {height: 10%; background-color: #060606;} 
.bs {height: 70%; background-color: #060606;} 
.sass {height: 70%; background-color: #060606;} 
.js {height: 50%; background-color: #060606;} 
.react {height: 90%; background-color: #060606;} 
.node {height: 90%; background-color: #060606;} 
.python {height: 40%; background-color: #060606;} 
.java {height: 20%; background-color: #060606;} 
.sql {height: 60%; background-color: #060606;} 
.git {height: 40%; background-color: #060606;} 

.skillname {
  position: relative;
  bottom: 0px;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 10px;
  justify-self: center;
}

.download {
  padding: 15px;
  text-align: center;
  color: white;
  background-color: #AB1A6B;
  width: 20%;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
  text-decoration: none;
}

.download:hover {
  background-color: white;
  color: black;
  
}

/* Fade animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

/* Responsive design */
@media only screen and (max-width: 800px) {
  .header {
    height: 20%;
  }
  .logo {
    display: none;
  }
  .tablinks {
    font-size: 12px;
  }
  .autor {
    font-size: 7px;
    top: 70%;
  }
  .social {
    bottom: 1%;
  }

  .cover {
    transform: translate(0%, -35%);
  }

  .download {
    width: 50%;
    font-size: 12px;
  }
    
  .text {
      top: 40%;
      height: 50%;
      width: 85%;
    }   
}
