@import "./mixins";

.header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.tablinks {
    background-color: $backgroundColor;
    color: $textColor;
    font-family: $primaryFont;
    font-size: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 5%;
    transition: 0.3s;
    &:hover, &.active {
        color: $primaryColor;
        transition: 0.3s;
    }
}

